@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  .content-drawer h2 {
    font-family: 'Press Start 2P', cursive;

  }
  .content h2 {
    position: absolute;
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
  }
  
  
  .content h2:nth-child(1) {
    transform: translateY(-25px);
    color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
  }
  
  .content h2:nth-child(2) {
    transform: translateY(-25px);

    color:  black;
    animation: animate 3s ease-in-out infinite;
  }
  
  @keyframes animate 
  {
    0%, 100% 
    {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
    }
    50%
    {
      clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 40%, 100% 100%, 0% 100%)
    }
  }