* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  background-color: black;
}
html,
body,
#root,
.App {
  height: 100vh;
  background-image: url('./assets/images/bg');
  background-size: cover;
  background-attachment: fixed;
}
